$white-color: #fff;
$black-color: #000;
$main-color: #4267b2;
$main-bg: #fff;

$text-color: rgb(22, 22, 22);
$border-color: #dbdbdb;

$header-height: 120px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

// $box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$mobile-width: 600px;
$tablet-width: 1024px;