.header {
    @include flex(center, center);
    background-color: $white-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;
    transition: height 0.3s ease;

    @include tablet {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
    }

    @include mobile {
        height: $header-mobile-height;
    }

    &.shrink {
        height: $header-shrink-height;
        box-shadow: $box-shadow;
        z-index: 100;

        @include mobile {
            height: $header-mobile-height;
        }
    }

    &__logo {
        @include flex(center, center);
        position: absolute;
        inset: 0;
        pointer-events: none;

        img {
            height: 28px;
        }
    }

    &__menu {
        @include flex(space-between, center);
        height: 100%;
        font-size: 1.4rem;

        @include mobile {
            margin: 0 8px;
        }

        &__item ~ &__item {
            margin-left: 39px;

            @include tablet {
                margin-left: 20px;
            }

            @include mobile {
                margin-left: 10px;
            }
        }

        &__item.active {
            font-weight: 600;
            color: $main-color;
        }

        &__item:hover {
            color: $main-color;

            @include mobile {
                color: unset
            }
        }

        &__left,
        &__right {
            @include flex(center, center);
            height: 100%;
        }

        &__right {
            font-size: 2.25rem;

            &__item {
                @include flex(center, center);
                position: relative;
                cursor: pointer;

                &:hover &-list {
                    display: block;

                    @include mobile {
                        display: unset;
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 200%;
                    height: 10px;
                    top: 100%;
                    right: 0;
                    z-index: 2;
                }

                &-list {
                    position: absolute;
                    background-color: $white-color;
                    box-shadow: $box-shadow;
                    top: 120%;
                    right: -10px;
                    width: 170px;
                    display: none;

                    &-link {
                        font-size: 1.6rem;
                        line-height: 1.6;
                        padding: 5px 10px;
                        display: block;
                        cursor: pointer;
                        color: $black-color;
    
                        &:hover {
                            background-color: #ccc;
                        }
                    }

                    &-close {
                        display: none;
                    }

                    &-item {

                        @include mobile {
                            @include flex(center, center);
                            padding: 6px 0;
                        }
                    }

                    @include mobile {
                        background-color: $white-color;
                        position: fixed;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100vh;
                        justify-content: flex-start;
                        padding-top: 30px;
                        transform: translateX(100%); 
                        transition: transform 0.5s ease;
                        z-index: 2;

                        &.active {
                            transform: translateX(0);
                        }

                        &-close {
                            @include flex(flex-end, center);
                            font-size: 3rem;
                            padding-right: 18px;
                        }
                    }
                }
            }

            @include mobile {
                font-size: 2rem;
            }
        }

        &__left {
            &__close {
                display: none;
            }

            @include tablet {
                flex-direction: column;
                background-color: $white-color;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                justify-content: flex-start;
                padding-top: 30px;
                transform: translateX(-100%);
                transition: transform 0.5s ease;
                z-index: 2;

                &.active {
                    transform: translateX(0);
                }

                &__item ~ &__item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &__close {
                    display: block;
                    position: absolute;
                    left: 20px;
                    font-size: 2.5rem;
                }
            }
        }

        &__mobile-toggle {
            display: none;

            @include tablet {
                display: block;
                font-size: 2.5rem;
            }
        }
    }
}